@import url("http://fonts.cdnfonts.com/css/gotham");
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gotham", sans-serif;
}

a {
  color: initial;
  text-decoration: none;
}

a:active {
  color: initial;
}

a:visited {
  color: initial;
}

/* NAV */

.nav {
  font-size: small;
  font-weight: 500;
  padding: 3em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  white-space: nowrap;
}

.logo-wrapper {
  display: inline-block;
}

.logo-wrapper,
.ul1,
.ul2 {
  width: calc(100% / 3);
  margin: 0, -2px;
}

.nav-logo {
  height: 14px;
  vertical-align: middle;
}

.ul2 {
  text-align: end;
}

ul {
  list-style: none;
  display: inline-block;
}

ul > li {
  display: inline-block;
  padding: 0.5em 1.2em;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.nav li:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

/* Main section */
.container {
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
  position: relative;
  z-index: -1;
  /* remove whitespace */
  margin-top: -3px;
}

.img--100vh {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.section-text {
  opacity: 0.8;
  position: absolute;
  width: 100vw;
  max-width: 100%;
  text-align: center;
  top: 9em;
}

.section-text > h2 {
  font-size: 40px;
  font-weight: 500;
}

.section-text > h6 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.buttons-wrapper {
  position: absolute;
  left: 50%;
  bottom: 6em;
  transform: translateX(-50%);
}

/* Buttons */
.btn {
  width: 260px;
  height: 40px;
  border: 0;
  border-radius: 500px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-transform: uppercase;
  margin: 0 0.5em;
}

.btn--big {
  width: 325px;
}

.btn--light {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}

/* footer */
footer {
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  font-weight: 500;
  color: #5c5e62;
}

/* utils */
.d-none {
  display: none;
}

@media only screen and (min-width: 1180px) {
  .d-sm-inline-block {
    display: inline-block;
  }
}
